body {
  /* background-color: #FFCC00; */
  background-color: rgb(0, 128, 38);

  padding: 50px;
  margin: 0;
}
h1,ul, li {
  font-family: sans-serif;
  
}
ul.header li {
  /* display: inline; */
  list-style-type: none;
  margin: 0;
}
ul.header {
  display: flex;
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
content li {
  margin-bottom: 10px;
}
.footer{
  text-align: center;
  color:black;
  padding-top: 20px;
  position: relative;
  


}
.footer-text{
  position: fixed;
  bottom: 10px

}